div(class="g-tma-sample-label")
    h1 #{name}
    p(class="g-tma-lead-text") Orientation: #{orientation}

div(class="g-tma-container")
    table(class="table table-bordered py-5")
        thead(class="thead-dark")
            tr 
                if(layout == "portrait")
                    - var columLabel = "Sector ⬇ / # ➡"
                else
                    - var columLabel = "# ⬇ / Sector ➡"

                th(class="text-center") #{columLabel}
                - var n = 0
                while n < items[0].length
                    if(layout == "portrait")
                        - var columnName = (n + 1)
                    else
                        - var columnName = (n + 10).toString(36).toUpperCase()
                    th(scope="col" class="text-center center") #{columnName}
                    - n++

        tbody
            each row, indexR in items
                tr
                    if(layout == "portrait")
                        - var rowName = (indexR + 10).toString(36).toUpperCase()
                    else
                        - var rowName = (indexR + 1)
                    th(scope="row" class="text-center col-md-1") #{rowName}
                    each column, index in row
                        td(class="g-tma-td text-center col-md-3" style=(column.isHightlighted ? "background-color: cornsilk" : ""))
                            div(class="card box-shadow")
                                if column.histomicsUrl
                                    - var histomicsUrl = column.histomicsUrl
                                    a(href=histomicsUrl, target="_blank")
                                        - var url = column.thumbnail
                                        img(class="g-tma-column-image card-img-top" src=url)
                                    
                                    div(class="card-body")
                                        p(class="card-text g-tma-column-meta") 
                                            strong 
                                                span(style="text-transform: capitalize;") File: 
                                            | #{column.name}
                                        p(class="card-text g-tma-column-meta") 
                                            strong 
                                                span(style="text-transform: capitalize;") Study Core ID: 
                                            | #{column.study_core_id}
                                        p(class="card-text g-tma-column-meta") 
                                            strong 
                                                span(style="text-transform: capitalize;") Core id: 
                                            | #{column.core_id}
                                        button(type="button" class="btn btn-primary show-meta-dialog" data-meta=`${JSON.stringify(column.meta)}`) View Metadata

div(class="modal fade" id="metaModal" tabindex="-1" role="dialog" aria-labelledby="metaModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h3(class="modal-title" id="metaModalLabel") Metadata Details
            div(class="modal-body" id="metaModalBody")
            div(class="modal-footer")
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
